<div class="well">
    <div class="jiange-comment">
        <div class="jiange-comment-tx">
            {% if user.img%}
            <img src="{{user.img}}" width="40"></img>
            {%else%}
            <img src="http://jiange.qiniudn.com/image/tx/tx-default.jpg" width="40"></img>
            {%endif%}
        </div>
        <div class="jiange-comment-edit clearfix">
            <form id="jiange-comment-form" method="post" role="form">
                {% csrf_token %}
                <textarea id="comment" name="comment" class="form-control" rows="4" placeholder="请输入评论 限200字!"></textarea>
                <button type="submit" class="btn btn-jiange-comments pull-right">提交</button>
            </form>
        </div>
        <ul>
            {% for comment in comment_list%}
            <li>
            <div class="jiange-comment-tx">
                {% if comment.user.img %}
                <img src={{comment.user.img}} width="40"></img>
                {%else%}
                <img src="http://jiange.qiniudn.com/image/tx/tx-default.jpg" width="40"></img>
                {%endif%}
            </div>
            <div class="jiange-comment-content">
                <a><h1>{{comment.user.username}}</h1></a>
                <p>
                    评论：
                    {% autoescape on%}
                    {{comment.comment}}
                    {% endautoescape %}
                </p>
                <p>{{comment.create_time|date:"Y-m-d H:i:s" }}</p>
            </div>
            </li>
            {% endfor%}
        </ul>
    </div>
</div>
<script language="javascript" type="text/javascript">
    $('#jiange-comment-form').submit(function(){
        $.ajax({
            type:"POST",
            url:"/comment/{{article.en_title}}",
            data:{"comment":$("#comment").val()},
            beforeSend:function(xhr){
                xhr.setRequestHeader("X-CSRFToken", $.cookie('csrftoken'));  
            },
            success:function(data,textStatus){
                $("#comment").val("");
                $(".jiange-comment ul").prepend(data);
            },
            error:function(XMLHttpRequest, textStatus, errorThrown){
                alert(XMLHttpRequest.responseText);

            }

        });
        return false;
    }); 
</script>
